body{
    padding: 0;
    margin: 0;
}
.container{
    display:flex;
    height: 100vh
}
.form-container{
    width: 30%;
    padding: 10px;
    box-shadow: 10px 20px 50px grey;
    overflow: scroll;
}
.resume-container{
    width: 70%;
    background-color: rgb(221, 219, 219);

}
input{
    display: block;
    width: 100%;
    color: grey;
    padding: 8px;
    font-size: 20px;
}
.submit-btn{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(89, 89, 238);
    color: white;
    border-radius: 20px
}
.resume{
    background-color: white;
    width: 70%;
    height: 90%;
    margin: 40px auto;
    display: flex;
    box-shadow: 10px 20px 50px grey;
}
.left-section{
    width: 30%;
    background-color: rgb(89, 89, 238);
    color: white
}
.image-container img{
    height: 120px;
    width: 150px;
    border-radius: 50%;
    margin: 5px;
    border: 8px solid white
}
.image-container{

}
.name{
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 15px;
}
.profile-container, .skills-container{
    margin-top: 15px;
}
.left-pad{
    padding-left: 10px
}
h3{
    margin-top: 0;
    margin-bottom: 0;
}
.right-section{
    width: 70%;
    padding: 20px
}
.work-experience, .education{
    margin-top: 30px
}
.profile-heading, .skills-heading{
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(85, 84, 84);
}
.profile-heading span, .skills-heading span{
    margin-left: 10px
}
.key{
    font-size: 14px;
    font-weight: bold;
}
.value{
    font-size: 14px;
}
.profile-details, .skills-details{
    margin-top: 10px
}
.work-ex-details{
    margin-top: 10px
}
.company-name{
    font-size: 17px;
    font-weight: bold
}
.role{
    font-size: 15px;
}
.project{
    margin-top: 8px
}
.college-details{
    margin-top: 10px
}
.college-name{
    font-weight:bold
}